<div class="container-fluid text-center">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12 col-xxlg-12">
			<h1>Robert</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12 col-xxlg-12">
			<img src="http://qr-official.line.me/L/5W9N7Fww5r.png">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xlg-12 col-xxlg-12">
			<a href="https://line.me/R/ti/p/%40pce5957h"><img height="36" border="0" alt="เพิ่มเพื่อน" src="https://scdn.line-apps.com/n/line_add_friends/btn/en.png"></a>
		</div>
	</div>
</div>